<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
<ngb-carousel>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img src="../../../assets/carousel1.jpg" alt="Random first slide">
      </div>
      <div class="carousel-caption">
        <h2 style="margin-bottom: 900px;font-size: 40px;">Veni a disfrutar nuestras comidas!!</h2>
       
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img src="../../../assets/carousel2.jpg" alt="Random second slide">
      </div>
      <div class="carousel-caption">
    
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img src="../../../assets/como-hacer-waffles-.jpg" alt="Random third slide">
      </div>
      <div class="carousel-caption">
        </div>
    </ng-template>
  </ngb-carousel>
</body>
</html>