mat-sidenav-container{
    position: fixed;
    height: 100%;
    min-height: 100%;
    width: 100%;
    min-width: 100%;
     
} 

.mat-toolbar{
    background-color: rgb(255, 255, 255);
}
.Logo{
    height: 1000px;
    width: 300px;
}
