<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WanquequesLabs</title>
</head>
<body>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3283.649982737524!2d-58.432361695242726!3d-34.613011356826895!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bccb89178ba181%3A0xd6c7930a2a701ecd!2sCentro%20de%20Formaci%C3%B3n%20Profesional%20N%C2%B0%2016%20(sede)%20-%20SGBATOS!5e0!3m2!1ses-419!2sar!4v1637617851538!5m2!1ses-419!2sar" width="1920" height="800" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
  
</body>
</html>